* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.rizki_list {
  height: 100px;
  overflow: auto;
  margin-bottom: 45px;
}
.rizki_app {
  position: absolute;
  top: 100px;
  right: 20px;
  border-radius: 5px;
  width: 50rem;
  height: 30rem;
  max-width: 3000px;
  max-height: 3000px;
  text-align: center;
  z-index: 100;
  padding-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  padding-bottom: 5px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  display: none;
}

.rizki_app p {
  color: #838383;
  margin: 4% auto;
  width: 260px;
  padding: 20px;
}

h2 {
  font-size: 25px;
  padding-bottom: 25px;
  line-height: 0;
  color: #09a7ba;
  font-weight: 300;
  padding: 20px;
  padding-top: 40px;
}

.rizki_fa {
  color: rgb(255, 255, 255);
  font-size: 3em;
  margin-top: 12px;
}

.rizki_app ul {
  margin-top: 10px;
  padding: 0 20px;
  padding-bottom: 20px;
  height: 320px;
}

.rizki_app li {
  list-style: none;
  font-size: 1.2rem;
  color: #616161;
  width: 14rem;
  display: inline-block;
  overflow: hidden;
}
.rizki_app li img {
  width: 100%;
  height: 100%;
}

.rizki_app li:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: #020202b2;
}

.rizki_app li:hover:after {
  font-family: FontAwesome;
  color: rgb(0, 0, 0);
  content: "\f00d";
}

.rizki_openpopup1 {
  width: 80%;
  margin: auto;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(134, 134, 134, 0.6);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: #1abc9c;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 700;
  transition-duration: 1s;
}

.rizki_openpopup2 {
  width: 80%;
  margin: auto;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(134, 134, 134, 0.6);
  background-color: #fff;
  border-radius: 5px;
  background-color: #797d7e;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 700;
  transition-duration: 1s;
}

#rizki_tray {
  height: 50px;
  width: 50px;
  background-color: #0077b6;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#rizki_tray:hover {
  box-shadow: 0 0 10px rgb(141, 141, 141);
}

.rizki_count {
  position: absolute;
  background-color: rgba(212, 7, 10, 1);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 2px;
  color: #fff;
  font-weight: 300;
  display: none;
}

.rizki_closewindow {
  color: #b41717;
  position: relative;
  float: right;
  left: -3%;
  cursor: pointer;
  width: 10px;
  border-radius: 1000%;
  height: 20px;
  text-align: center;
  margin-top: 5px;
}

.rizki_closewindow span {
  position: relative;
  font-size: 30px;
  bottom: 2px;
}

@media (max-width: 800px) {
  .rizki_app {
    width: 30rem;
    height: 40rem;
  }
  h2 {
    font-size: 18px;
  }
  .rizki_app li {
    width: 15rem;
  }
  .rizki_app ul {
    height: 190px;
  }
  .rizki_openpopup2 {
    width: 90%;
  }
  .rizki_closewindow span {
    font-size: 15px;
  }
}
